@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');

.bar{
  position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}
.navbar{
  display: flex;
  
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
  
}

.logo{
  margin: .5rem;
  font-size: 1.5rem;
}
.navbar-links ul{
  margin: 0;
  padding: 0;
  display: flex;
}
.navbar-links li{
  list-style: none;
}
.navbar-links li a{
  text-decoration: none;
   padding: 1rem;
  color: white;
  display: block;
}
.navbar-links li:hover{
  background-color: #555;
}

/* style home */
#home{
  background-image: url("/pizzaimgs/11.jpeg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
  padding: 18%;
  
}

#home h1{
  color: chocolate;
 font-weight: 900;
 font-size: 5rem;
  font-family: 'crimson pro', serif;
}

#about{
  padding: 10%;
   padding-right: 20%;
   padding-left: 20%;
    text-align: center;
    padding-top: 10%;
}
 h3{

  font-family: 'crimson pro', serif;
}
#about p{
 font-family: Roboto,sans-serif;
}


#menu{
  text-align: center;
  
  padding-top: 5%;
}
/* order section */
#make-order{
  
  padding: 2%;
  border-style: inset;
  padding-top: 10%;
}
#submit{
  margin: 1%;
  padding: 0.5rem;
  border-radius: 10px;
  background-color:greenyellow;
  border: none;
  
}
#submit:hover{
  background-color: #333;
  color: white;
  transition: 0.9s;
}
#toppingone{
 word-spacing: 2rem;
}
h3{
  color: green;
  font-size: xx-large;
  font-weight: bold;
}
#contact{
   background-image: url("/pizzaimgs/back3.jpeg");
   border-radius: 1%;
    width: 100%;
    height: auto;
    text-align: center;
    color: white;
    font-family: 'Lato', sans-serif;
    padding: 5%;
   
   
}



footer{
  text-align: center;
  padding-top: 30px;
  font-family: 'Delius Swash Caps', cursive;
}
.btn{
  margin: 1%;
}
.btn:hover{
  background-color: #333;
  color: white;
  transition: 0.9s;
}
