@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');

.bar{
  position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}
.navbar{
  display: flex;
  
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
  
}

.logo{
  margin: .5rem;
  font-size: 1.5rem;
}
.navbar-links ul{
  margin: 0;
  padding: 0;
  display: flex;
}
.navbar-links li{
  list-style: none;
}
.navbar-links li a{
  text-decoration: none;
   padding: 1rem;
  color: white;
  display: block;
}
.navbar-links li:hover{
  background-color: #555;
}

/* style home */
#home{
  background-image: url("/pizzaimgs/11.jpeg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
  padding: 18%;
  
}

#home h1{
  color: chocolate;
  font-weight: 600;
  font-family: 'crimson pro', serif;
}

#about{
  padding: 10%;
   padding-right: 20%;
   padding-left: 20%;
    text-align: center;
}
 h3{

  font-family: 'crimson pro', serif;
}
#about p{
 font-family: Roboto,sans-serif;
}

.order-overlay {
  height: inherit;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 20px;
}
.text-center {
  text-align: center!important;
}
#menu{
  text-align: center;
  padding-bottom: 10%;
}
#card-display{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card{
  width:300px;
  margin:10px;
}
.card-img-top{
  height:200px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
#Big-Mark .card-img-top{
  background-image: url(../images/pizza/pizza2.jpg)
}
#Cheese-Love .card-img-top{
  background-image: url(../images/pizza/pizza3.jpg)
}
#Pepperoni-Craze .card-img-top{
  background-image: url(../images/pizza/pizza4.jpg)
}
#Napoletana .card-img-top{
  background-image: url(../images/pizza/pizza1.jpg)
}
#Diavola .card-img-top{
  background-image: url(/pizzaimgs/pizza1.jpeg);
}
#Frutti-D\'Mare .card-img-top{
  background-image: url(../images/pizza/pizza6.jpg);
}
.price-display,.card-title{
  display: inline-block;
}

.price-display{
  float: right;
}

.card-footer{
  display: flex;
  flex-direction: column;
}

.order-btns{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* <-----Cart styling-----> */
.cart{
  position: fixed;
  left:-10px;
  top:5%;
  border-radius:0 10px 10px 0;
  cursor: pointer;
}
.cart button{
  background-color: #F18C41;
  border: #F17A29;
}

/* <------Modal-----> */
.modal{
  display:none;
  position: fixed;
  z-index:10000;
  left:0;
  top:0;
  width:100%;
  height:100%;
  overflow: auto;
  background-color: rgba(0,0,0);
  background-color: rgba(0,0,0,.4);
  padding: 60px;
}
.modal-content{
  background-color: #fefefe;
  margin:5% auto 15% auto;
  border:1px solid #888;
  width:80%;
}
.close{
  position: absolute;
  right:25px;
  top:0;
  color:#000;
  font-size: 35px;
  font-weight: bold;
}
.close:hover,.close:focus{
  color:red;
  cursor: pointer;
}
.animate{
  animation: animatezoom .6s;
}

#contact{
   background-image: url("/pizzaimgs/back3.jpeg");
   border-radius: 1%;
    width: 100%;
    height: auto;
    text-align: center;
    color: white;
    font-family: 'Lato', sans-serif;
    padding: 5%;
   
}
.form-control::placeholder {
  color: #9f9f9f;
  font-family: 'Sarabun', sans-serif;
  font-weight: 700;
}

#summary{
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}
#summary div{
  padding:10px;
  width:300px;
  height:250px;
}
#summary p {
  margin:0;
  font-size: 15px;
}
#summary hr{
  width:80%;
}
.hidden{
   display:none;
}
.checkout-btn{
   display:block;
   margin: auto;
   background-color: #F18C41;
}

/* check out alert  */
#alert{
   position: fixed;
   top:20%;
   z-index:50;
   left:0;
}
.order-summary h1, .summary, .contact {
  color: #000;
  font-family: 'Love Ya Like A Sister', cursive;
  margin-top: 30px;
}

button[type=submit], .deliver {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  letter-spacing: 2px;
  background-color: #ffbf00;
  outline: none;
  padding: 12.5px 13px;
  border: none;
  border-radius: 33px;
  font-size: 14px;
}
.deliver {
  margin: 10px;
}

footer{
  text-align: center;
  padding-top: 30px;
  font-family: 'Delius Swash Caps', cursive;
}