@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');

.bar{
  position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}
.navbar{
  display: flex;
  
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
  
}

.logo{
  margin: .5rem;
  font-size: 1.5rem;
}
.navbar-links ul{
  margin: 0;
  padding: 0;
  display: flex;
}
.navbar-links li{
  list-style: none;
}
.navbar-links li a{
  text-decoration: none;
   padding: 1rem;
  color: white;
  display: block;
}
.navbar-links li:hover{
  background-color: #555;
}

/* style home */
#home{
  background-image: url("/pizzaimgs/11.jpeg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
  padding: 18%;
  
}

#home h1{
  color: chocolate;
  font-weight: 600;
  font-family: 'crimson pro', serif;
}

#about{
  padding: 10%;
   padding-right: 20%;
   padding-left: 20%;
    text-align: center;
}
 h3{

  font-family: 'crimson pro', serif;
}
#about p{
 font-family: Roboto,sans-serif;
}

.order-overlay {
  height: inherit;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 20px;
}
.text-center {
  text-align: center!important;
}
#menu{
  text-align: center;
  padding: 1%;
}
#order{
  border-radius: 20px;
  align-items: center;
  text-align: center;
  border: #333;
  padding-top: 5%;
  padding-left: 5%;

}

   

form{


  font-family: 'Lato', sans-serif;
}


.flavors,
.sizes,
.crust,
.toppings{
 
    width: 50%;
    
    padding: 10px;
    color: aliceblue solid;
    font-size: 1rem;
}
#quantity{
  width: 30%;
}
.button{
  padding: 10px;
}
#btn, .btn {
  text-decoration: none;
  font-size: 1.25rem;
    width: 100px;
   
   color: #fff;
   background-color: #FE5A07 ;
   border-radius: 9px;
   padding: 10px;
}
#btn:hover{
  background-color: gree;
  color: black;
  transition: 0.78s;
}

#contact{
   background-image: url("/pizzaimgs/back3.jpeg");
   border-radius: 1%;
    width: 100%;
    height: auto;
    text-align: center;
    color: white;
    font-family: 'Lato', sans-serif;
   
}
.form-control::placeholder {
  color: #9f9f9f;
  font-family: 'Sarabun', sans-serif;
  font-weight: 700;
}
